<div class="wishlist-header">
  <header>
    <h2>Your Wishlist</h2>
  </header>
</div>

<div *ngIf="wishlist" class="wishlist-container">
  <div *ngIf="wishlist.products.length > 0; else emptyWishlist">
    <div class="product-card" *ngFor="let item of wishlist.products">
      <div class="product-info">
        <h3>{{ item.productDetail.name }}</h3>
        <p>{{ item.productDetail.description }}</p>
        <p><strong>Price:</strong> ${{ item.productDetail.price }}</p>
      </div>
      <button (click)="removeFromWishlist(item)" class="remove-btn">Remove</button>
    </div>
  </div>
  <ng-template #emptyWishlist>
    <p>Your wishlist is empty!</p>
  </ng-template>
</div>
