<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 style="color:black" class="footer-title">About Us</h3>
              <p style="color:black"> We are here to make technology more accessible for you! At Sunset, we offer a wide range of phones, laptops, and gadgets designed to enhance your everyday life. Whether you’re a tech enthusiast or simply looking for a reliable device, we’re ready to help you find exactly what you need.</p>
              <ul class="footer-links">
                <li><a style="color:black" href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                <li><a style="color:black" href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                <li><a style="color:black" href="#"><i class="fa fa-envelope-o"></i>sunset&#64;email.com</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 style="color:black" class="footer-title">Categories</h3>
              <ul class="footer-links">
                <li><a style="color:black" href="#">Hot deals</a></li>
                <li><a style="color:black" href="#">Laptops</a></li>
                <li><a style="color:black" href="#">Smartphones</a></li>
                <li><a style="color:black" href="#">Cameras</a></li>
                <li><a style="color:black" href="#">Accessories</a></li>
              </ul>
            </div>
          </div>
  
          <div class="clearfix visible-xs"></div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 style="color:black" class="footer-title">Information</h3>
              <ul class="footer-links">
                <li><a style="color:black" href="#">About Us</a></li>
                <li><a style="color:black" href="#">Contact Us</a></li>
                <li><a style="color:black" href="#">Privacy Policy</a></li>
                <li><a style="color:black" href="#">Orders and Returns</a></li>
                <li><a style="color:black" href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 style="color:black" class="footer-title">Service</h3>
              <ul class="footer-links">
                <li><a style="color:black" href="#">My Account</a></li>
                <li><a style="color:black" href="#">View Cart</a></li>
                <li><a style="color:black" href="#">Wishlist</a></li>
                <li><a style="color:black" href="#">Track My Order</a></li>
                <li><a style="color:black" href="#">Help</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /top footer -->
  
    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12 text-center">
            <ul class="footer-payments">
              <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
              <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bottom footer -->
  </footer>
  <!-- /FOOTER -->
