<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><i class="fa fa-phone"></i> +021-95-51-84</li>
        <li><i class="fa fa-envelope-o"></i> email&#64;email.com</li>
        <li><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</li>
      </ul>
      <ul class="header-links pull-right">
        <li id="theme-toggle" class="theme-toggle">
          <a href="#">
            <i class="fa fa-moon-o"></i>
            <span id="theme-label">Dark Mode</span>
          </a>
        </li>
        <li><i class="fa fa-dollar"></i> USD</li>
        <li><a href="#" routerLink="/login"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->
  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="/assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->
        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <input class="input" placeholder="Search here">
              <button class="search-btn">Search</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->
        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a routerLink="/wishlist">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <div class="qty">{{ getWishlistCount() }}</div>
              </a>
            </div>

            <!-- Cart -->
            <div>
              <a routerLink="/cart" style="color:black">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty">{{ getCartlistCount() }}</div>
              </a>
            </div>
            <!-- /Cart -->
            <!-- Menu Toggle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toggle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
<!-- NAVIGATION -->
<nav id="navigation">
  <div class="container">
    <ul class="main-nav nav navbar-nav">
      <li class="active dropdown">
        <a href="#">
          <span>Products</span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Smartphones</a></li>
          <li><a href="#">Cameras</a></li>
          <li><a href="#">Accessories</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- /NAVIGATION -->
