<!-- container principal -->
<div class="container">
  <h1>User Profile</h1>

  <!-- imagine profil -->
  <div class="profile-image">
    <img src="/assets/img/userphoto.png" alt="Fotografie de profil">
  </div>

  <!-- Account Information -->
  <div class="box" *ngFor="let user of filteredUsers">
    <h2>Account Information</h2>
    <p>Email: {{user.email}}</p>
    <p>Date created: {{user.dateCreated}} </p>
    <p>Gender: {{user.userAccountGender}} </p>
    <p>Alias: {{user.alias}} </p>
  </div>
  
  <!-- butoane -->
  <div class="profile-actions">
    <button class="edit-profile-btn" [routerLink]="['/edit-user-profile']">Edit Profile</button>
    <button class="delete-profile-btn">Delete Account</button>
    <button class="logout-btn" (click)="logOut()">Log Out</button>
  </div>
