<!-- container -->
<div class="container">
  <h1>User Profile</h1>
  <div class="profile-image">
    <img src="/assets/img/userphoto.png" alt="Fotografie de profil">
  </div>
  <!-- profile info -->
  <div class="profile-info">
    <h2>First Name: Ion</h2>
    <h2>Last Name: Popescu</h2>
    <p class="email">Email: ion.popescu&#64;example.com</p>
    <p class="password">Password: parolaSite123</p>
    <!-- /profile info -->
  </div>
  <!-- profile action - buttons -->
  <div class="profile-actions">
    <button class="edit-profile-btn">Edit profile</button>
    <button class="delete-profile-btn">Delete account</button>
    <!-- /profile action - buttons -->
  </div>
  <!-- /container -->
</div>
